In [1]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_excel('data-combined.xlsx')

In [30]:
df.head()

,Compagnie,Total d'escales,Prix,Duree,Destination,Distance,Date_aller,Date_retour
0,Air France,\ndirect,\n204 €,\n2h 20min,Oslo,1344.0,2022-04-01,2022-04-08
1,Air France,\ndirect,\n204 €,\n2h 30min,Oslo,1344.0,2022-04-01,2022-04-08
2,Flyr AS,\ndirect,\n195 €,\n2h 25min,Oslo,1344.0,2022-04-01,2022-04-08
3,Flyr AS,\ndirect,\n195 €,\n2h 25min,Oslo,1344.0,2022-04-01,2022-04-08
4,Norwegian,\ndirect,\n186 €,\n2h 20min,Oslo,1344.0,2022-04-01,2022-04-08

On va retire les \n de tout le dataframe

In [31]:
df = df.replace('\n','', regex=True)

In [32]:
df.head()

,Compagnie,Total d'escales,Prix,Duree,Destination,Distance,Date_aller,Date_retour
0,Air France,direct,204 €,2h 20min,Oslo,1344.0,2022-04-01,2022-04-08
1,Air France,direct,204 €,2h 30min,Oslo,1344.0,2022-04-01,2022-04-08
2,Flyr AS,direct,195 €,2h 25min,Oslo,1344.0,2022-04-01,2022-04-08
3,Flyr AS,direct,195 €,2h 25min,Oslo,1344.0,2022-04-01,2022-04-08
4,Norwegian,direct,186 €,2h 20min,Oslo,1344.0,2022-04-01,2022-04-08

On enlève les lignes ayant scrappé des voyages en train

In [33]:
df = df[df['Compagnie'] != 'SNCF']
df = df[df['Compagnie'] != 'Eurostar']
df = df[df['Compagnie'] != 'Renfe']

Ensuite on remarque que le nom pour certaines compagnies aériennes sont précédées d'un espace. Donc pandas distingue " Air France" et "Air France" :

In [34]:
df['Compagnie'].unique()

array(['Air France', 'Flyr AS', 'Norwegian', ' Flyr AS', ' SAS', 'SAS',
       ' Air France', ' Norwegian', ' airBaltic', ' Eurowings',
       'Plusieurs compagnies', ' Ryanair', ' KLM', 'KLM',
       'Austrian Airlines', ' Lufthansa', 'Lufthansa', ' LOT', ' Finnair',
       ' SWISS', ' Austrian Airlines', 'SWISS', 'airBaltic',
       ' Air Serbia', ' Transavia France', 'Brussels Airlines', 'Finnair',
       ' Transavia', 'Vueling', 'British Airways', 'LOT', 'Ryanair',
       'easyJet', ' Vueling', 'Transavia France', ' easyJet', 'Eurowings',
       'Iberia', ' Brussels Airlines', ' British Airways', 'Aeroflot',
       ' Aeroflot', 'Air Serbia', 'Bulgaria Air', 'ITA Airways',
       ' Nordwind Airlines', ' Bulgaria Air', ' Czech Airlines',
       ' Smartwings', ' TAP AIR PORTUGAL', 'Air Europa', ' Air Europa',
       ' Iberia', 'Iberia Express', ' Iberia Express', 'TAP AIR PORTUGAL',
       'Aer Lingus', ' Air Mauritius', ' Air Malta',
       'Aerolineas Argentinas', ' Royal Air Maroc', 'Royal Air Maroc',
       'Luxair', ' ITA Airways', 'Aegean Airlines', 'Sky Express',
       ' Aegean Airlines', ' Sky Express', 'Turkish Airlines',
       ' Turkish Airlines', ' Volotea', 'Pegasus Airlines',
       ' Pegasus Airlines', ' AnadoluJet'], dtype=object)

In [36]:
df['Compagnie'] = df['Compagnie'].map({'Air France':'Air France', 'Flyr AS':'Flyr AS', 'Norwegian':'Norwegian', 
                                       ' Flyr AS':'Flyr AS' , ' SAS':'SAS', 'SAS':'SAS',' Air France':'Air France', 
                                       ' Norwegian':'Norwegian', ' airBaltic':'airBaltic', ' Eurowings':'Eurowings',
                                       'Plusieurs compagnies':'Plusieurs compagnies', ' Ryanair':'Ryanair', ' KLM':'KLM', 
                                       'KLM':'KLM','Austrian Airlines':'Austrian Airlines','Austrian Airlines':'Austrian Airlines',
                                       ' Lufthansa':'Lufthansa', 'Lufthansa':'Lufthansa', ' LOT':'LOT', ' Finnair':'Finnair',
                                       ' SWISS':'SWISS', ' Austrian Airlines': 'Austrian Airlines', 'SWISS':'SWISS', 'airBaltic':'airBaltic',
                                       ' Air Serbia':'Air Serbia', ' Transavia France':'Transavia', 'Brussels Airlines':'Brussels Airlines', 
                                       'Finnair':'Finnair',' Transavia':'Transavia', 'Vueling':'Vueling', 'British Airways':'British Airways',
                                       'LOT':'LOT', 'Ryanair':'Ryanair','easyJet':'easyJet', ' Vueling':'Vueling', 'Transavia France':'Transavia',
                                       ' easyJet':'easyJet', 'Eurowings':'Eurowings','Iberia':'Iberia', ' Brussels Airlines':'Brussels Airlines',
                                       ' British Airways':'British Airways', 'Aeroflot':'Aeroflot',' Aeroflot':'Aeroflot',
                                       'Air Serbia':'Air Serbia', 'Bulgaria Air':'Bulgaria Air', 'ITA Airways':'ITA Airways',
                                       ' Nordwind Airlines':' Nordwind Airlines', ' Bulgaria Air': 'Bulgaria Air', ' Czech Airlines':'Czech Airlines',
                                       ' Smartwings':'Smartwings', ' TAP AIR PORTUGAL':'TAP AIR PORTUGAL', 'Air Europa':'Air Europa', ' Air Europa':'Air Europa',
                                       ' Iberia':'Iberia', 'Iberia Express': ' Iberia Express', 'TAP AIR PORTUGAL':'TAP AIR PORTUGAL',
                                       'Aer Lingus':'Aer Lingus', ' Air Mauritius':'Air Mauritius', ' Air Malta':'Air Malta',
                                       'Aerolineas Argentinas':'Aerolineas Argentinas', ' Royal Air Maroc':'Royal Air Maroc', 'Royal Air Maroc':'Royal Air Maroc',
                                       'Luxair':'Luxair', ' ITA Airways':'ITA Airways', 'Aegean Airlines':'Aegean Airlines', 'Sky Express':'Sky Express',
                                       ' Aegean Airlines':' Aegean Airlines', ' Sky Express':'Sky Express', 'Turkish Airlines':'Turkish Airlines',
                                       ' Turkish Airlines':'Turkish Airlines', ' Volotea':'Volotea', 'Pegasus Airlines':'Pegasus Airlines',
                                       ' Pegasus Airlines':'Pegasus Airlines', ' AnadoluJet':'AnadoluJet'}, na_action=None)

In [38]:
df['Compagnie'].unique()

array(['Air France', 'Flyr AS', 'Norwegian', 'SAS', 'airBaltic',
       'Eurowings', 'Plusieurs compagnies', 'Ryanair', 'KLM',
       'Austrian Airlines', 'Lufthansa', 'LOT', 'Finnair', 'SWISS',
       'Air Serbia', 'Transavia', 'Brussels Airlines', 'Vueling',
       'British Airways', 'easyJet', 'Iberia', 'Aeroflot', 'Bulgaria Air',
       'ITA Airways', ' Nordwind Airlines', 'Czech Airlines',
       'Smartwings', 'TAP AIR PORTUGAL', 'Air Europa', ' Iberia Express',
       nan, 'Aer Lingus', 'Air Mauritius', 'Air Malta',
       'Aerolineas Argentinas', 'Royal Air Maroc', 'Luxair',
       'Aegean Airlines', 'Sky Express', ' Aegean Airlines',
       'Turkish Airlines', 'Volotea', 'Pegasus Airlines', 'AnadoluJet'],
      dtype=object)

In [39]:
price = list(df['Prix'])
duration = list(df ['Duree'])

In [40]:
def formatage_prix(liste):
    l=[]
    for i in range (len(liste)):
        c=''
        if len(liste[i]) == 6 :
            c = float(liste[i][0]+liste[i][1]+price[i][2])
        elif len(liste[i]) == 5 : 
            c = float(liste[i][0]+liste[i][1])
        elif len(liste[i]) == 8:
            c = float(liste[i][0]+liste[i][2]+liste[i][3]+ liste[i][4])
        else:
            c = 'NaN'
        l.append(c)
    return l

In [41]:
prix = formatage_prix(price)

In [42]:
def formatage_duree(liste):
    l=[]
    for i in range (len(liste)):
        l.append(float(duration[i].split('h')[0])+float(duration[i].split('h')[1][1:3])/60)
    return l

In [43]:
duree = formatage_duree(duration)

In [44]:
del df['Prix']

In [45]:
del df['Duree']

In [46]:
df['Prix'] = prix

In [47]:
df['Duree de vol'] = duree

In [48]:
df

,Compagnie,Total d'escales,Destination,Distance,Date_aller,Date_retour,Prix,Duree de vol
0,Air France,direct,Oslo,1344.00,2022-04-01,2022-04-08,204.0,2.333333
1,Air France,direct,Oslo,1344.00,2022-04-01,2022-04-08,204.0,2.500000
2,Flyr AS,direct,Oslo,1344.00,2022-04-01,2022-04-08,195.0,2.416667
3,Flyr AS,direct,Oslo,1344.00,2022-04-01,2022-04-08,195.0,2.416667
4,Norwegian,direct,Oslo,1344.00,2022-04-01,2022-04-08,186.0,2.333333
...,...,...,...,...,...,...,...,...
61343,Turkish Airlines,1 escale,Athenes,2095.52,2022-06-10,2022-06-17,294.0,7.333333
61344,Sky Express,direct,Athenes,2095.52,2022-06-10,2022-06-17,1874.0,3.000000
61345,SWISS,1 escale,Athenes,2095.52,2022-06-10,2022-06-17,1874.0,5.500000
61346,Sky Express,direct,Athenes,2095.52,2022-06-10,2022-06-17,1879.0,3.000000
61347,Lufthansa,1 escale,Athenes,2095.52,2022-06-10,2022-06-17,1879.0,4.916667

In [49]:
def formatage_escale(df1):
    a = pd.DataFrame([df1["Total d'escales"] != "direct ", df1["Total d'escales"] != "O changement "])
    df2 = df1.copy()
    df1["Total d'escales"] = a.all().astype(np.int64) + (df2["Total d'escales"] == "2 escales ").astype(np.int64) + (df1["Total d'escales"] == "3 escales ").astype(np.int64)
    return(df1)

df1 = formatage_escale(df)

In [52]:
df1.to_excel('base_a_traiter.xlsx')